# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code / PyCharm
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
